*{
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
     font-size: 20px;
     z-index: 999;
     border-bottom: solid;
     background-color: #e0740e;
     position: fixed;
     /* La barra de navegación se queda fijada en su posición*/
     top: 0;
     /* La posiciona al inicio de la página*/
     width: 100%;
     /* El ancho entero de la pantalla */
}

.navbar .navbar-brand:hover {
     color:red;
}

.navbar .navbar-nav .nav-link{
     color:black;
}

.navbar .navbar-nav .nav-link:hover{
     color: blue;
}

.logopag{
     height: 50px;
     width: 70px;
     border-radius: 15px;
}

.dropdown{
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.BuscarLupa:hover{
     background-color: #afafaf;
}

.TituloBusquedaA{
     margin-top: 10px;
     border-top: solid;
     border-bottom: solid;
     border-color: #bbbec2;
     padding-top: 5px;
}

.categoriasbusca{
     margin-left: auto;
}

.main{
     margin-top: 90px;
     margin-bottom: auto;
     border-style: solid;
}

.imagenpregunta{
     margin-top: 15px;
     margin-bottom: 15px;
     
     width: 100px;
     height: 110px;
}

.pregunta{
     font-size: 28px;
}

.descripcion{
     font-size: 22px;
}

#adelante{
     background-color: white;
}

.page-item.active .page-link{
     background-color: sandybrown;
     border-color: #e0740e;
}

#numeropagina{
     color: black;
}

.page-link{
     background-color: transparent;
}


.paginacionimg{

     width: 30px;
     height: 30px;
}

html {
     height: 100%;
}

body {
     background-image: url("https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg?size=626&ext=jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     display: flex;
     flex-direction: column;
     height: 100%;
}

footer{
     position: relative;
     font-size: 18px;
     margin-top: 50px;
     left: 0;
     bottom: 0;
     width: 100%;
}